<script lang="ts">
    import AttributionLink from '$lib/components/AttributionLink.svelte';
import { pageTitle } from '$lib/helpers';
</script>

<svelte:head>
    <title>{pageTitle({subtitle: 'Attributions'})}</title>
</svelte:head>

<div class="container mx-auto px-8 md:px-0">
    <div class="grid w-full">
        <div class="col-span-12 py-4">
            <h1 class="text-4xl font-mono mb-8">Attributions</h1>
            <ul class="list-disc">
                <li class="mb-4">
                    DNA helix favicon by <AttributionLink alt
                        href="https://www.flaticon.com/free-icons/dna"
                        >Freepik at Flaticon</AttributionLink
                    >
                </li>
                <li class="mb-4">
                    Random DNA sequence function adapted from <span class="font-mono"
                        >getRandomSeq</span
                    >
                    by <AttributionLink alt href="https://github.com/shinout/dna"
                        >shinout on GitHub</AttributionLink
                    >
                </li>
                <li class="mb-4">
                    Amino Acids function created with Codon Table data from <AttributionLink alt href="https://www.macmillanlearning.com/college/us/product/What-Is-Life-A-Guide-to-Biology-with-Physiology/p/1319272533">What Is Life? by James Phelan (Macmillan Learning)</AttributionLink> 5th edition, pp. 161
                </li>
                <li class="mb-4">
                    Element information from <AttributionLink alt href="https://github.com/neelpatel05/periodic-table-api">periodic-table-api</AttributionLink>
                </li>
            </ul>
        </div>
    </div>
</div>
