<script lang="ts">
    import type { crossType } from '../types'
    import MonohybridCrossTable from '$lib/components/mendelian/MonohybridCrossTable.svelte'
    import DihybridCrossTable from '$lib/components/mendelian/DihybridCrossTable.svelte'
    import Divider from '$lib/components/elements/Divider.svelte'
    import ParentGenotypeSelect from '$lib/components/mendelian/ParentGenotypeSelect.svelte'
    import PhenotypeInputs from '$lib/components/mendelian/PhenotypeInputs.svelte'
    import CrossSelect from '$lib/components/mendelian/CrossSelect.svelte'
    import {
        pageTitle,
        // calculateDihybridCross,
        // dihybridAllValues,
        // dihybridUniqueValues,
        sortAlleles,
    } from '$lib/helpers'
    // import PhenotypeTable from '$lib/components/mendelian/PhenotypeTable.svelte'

    let selectedCrossType: crossType = 'di'

    let dominantPhenotype1: string = 'Squarepants'
    let recessivePhenotype1: string = 'Roundpants'
    let dominantPhenotype2: string = 'Yellow body'
    let recessivePhenotype2: string = 'Blue body'

    $: domAllele1 = dominantPhenotype1 != '' ? dominantPhenotype1[0].toUpperCase() : ''
    $: recAllele1 = dominantPhenotype1 != '' ? dominantPhenotype1[0].toLowerCase() : ''
    $: domAllele2 = dominantPhenotype2 != '' ? dominantPhenotype2[0].toUpperCase() : ''
    $: recAllele2 = dominantPhenotype2 != '' ? dominantPhenotype2[0].toLowerCase() : ''

    $: par1Allele1 = 'S'
    $: par1Allele2 = 's'
    $: par2Allele1 = 'S'
    $: par2Allele2 = 's'
    $: par1Allele3 = 'Y'
    $: par1Allele4 = 'y'
    $: par2Allele3 = 'Y'
    $: par2Allele4 = 'y'

    $: par1Alleles = sortAlleles(par1Allele1, par1Allele2)
    $: par2Alleles = sortAlleles(par2Allele1, par2Allele2)
    $: par1Alleles2 = sortAlleles(par1Allele3, par1Allele4)
    $: par2Alleles2 = sortAlleles(par2Allele3, par2Allele4)

    // $: dihyAllVals = dihybridAllValues(
    //     calculateDihybridCross(par1Alleles + par1Alleles2, par2Alleles + par2Alleles2),
    // )
    // $: dihyUniqueVals = dihybridUniqueValues(
    //     calculateDihybridCross(par1Alleles + par1Alleles2, par2Alleles + par2Alleles2),
    // )

    // $: cross = calculateDihybridCross(par1Alleles + par1Alleles2, par2Alleles + par2Alleles2)
</script>

<svelte:head>
    <title>{pageTitle({ subtitle: 'Mendelian Genetics' })}</title>
</svelte:head>

<div class="container mx-auto px-4 md:px-0">
    <!-- select cross type -->
    <CrossSelect bind:selectedCrossType />
    <Divider />
    <!-- define phenotypes -->
    <PhenotypeInputs
        title="First trait"
        bind:selectedCrossType
        bind:dominant={dominantPhenotype1}
        bind:recessive={recessivePhenotype1}
    />
    {#if selectedCrossType === 'di'}
        <PhenotypeInputs
            title="Second trait"
            bind:selectedCrossType
            bind:dominant={dominantPhenotype2}
            bind:recessive={recessivePhenotype2}
        />
    {/if}
    <Divider />
    <ParentGenotypeSelect
        title="Parent 1 Genotype"
        bind:selectedCrossType
        bind:parentAlleles1={par1Allele1}
        bind:parentAlleles2={par1Allele2}
        bind:parentAlleles3={par1Allele3}
        bind:parentAlleles4={par1Allele4}
        bind:dominantAllele1={domAllele1}
        bind:dominantAllele2={domAllele2}
        bind:recessiveAllele1={recAllele1}
        bind:recessiveAllele2={recAllele2}
    />
    <!-- parent 2 genotype -->
    <ParentGenotypeSelect
        title="Parent 2 Genotype"
        bind:selectedCrossType
        bind:parentAlleles1={par2Allele1}
        bind:parentAlleles2={par2Allele2}
        bind:parentAlleles3={par2Allele3}
        bind:parentAlleles4={par2Allele4}
        bind:dominantAllele1={domAllele1}
        bind:dominantAllele2={domAllele2}
        bind:recessiveAllele1={recAllele1}
        bind:recessiveAllele2={recAllele2}
    />
    <Divider />
</div>

<div class="flex flex-row justify-center mb-8">
    {#if selectedCrossType === 'mono'}
        <MonohybridCrossTable
            bind:parent1Alleles={par1Alleles}
            bind:parent2Alleles={par2Alleles}
            bind:dominantPhenotype={dominantPhenotype1}
            bind:recessivePhenotype={recessivePhenotype1}
        />
    {:else}
        <DihybridCrossTable
            bind:parent1Alleles={par1Alleles}
            bind:parent2Alleles={par2Alleles}
            bind:parent1Alleles2={par1Alleles2}
            bind:parent2Alleles2={par2Alleles2}
            bind:dominantPhenotype1
            bind:dominantPhenotype2
            bind:recessivePhenotype1
            bind:recessivePhenotype2
        />
    {/if}
</div>

<!-- stats table -->
<!-- <PhenotypeTable
    bind:selectedCrossType
    bind:dominantPhenotype={dominantPhenotype1}
    bind:recessivePhenotype={recessivePhenotype1}
    bind:dominantPhenotype2
    bind:recessivePhenotype2
    bind:cross
/> -->
<!-- {JSON.stringify(dihyAllVals)}
{JSON.stringify(dihyUniqueVals)} -->
