<script lang="ts">
    export let electrons: number
    export let neutrons: number
    export let protons: number
    export let symbol: string

    import Shell from './dynamicAtom/components/Shell.svelte'
    import Electron from './dynamicAtom/components/Electron.svelte'
    import {
        shellRadius,
        electronLimits,
        shellElectrons,
        center,
        imageSize,
        nucleusRadius,
    } from './dynamicAtom/constants'
    import { getPoints } from '$lib/helpers/calculateCirclePoints'

    const charWidth = 18.06
    const subTextCharWidth = 8.25

    $: pWidth = protons.toString().length + 3
    $: nWidth = neutrons.toString().length + 3
    $: symbolXOffset = symbol.length === 2 ? charWidth * 2 : charWidth
    $: symbolYOffset = (35 / 2) * -1

    $: proXOffset = subTextCharWidth * pWidth
    $: neuXOffset = subTextCharWidth * nWidth
</script>

<div class="w-full mx-auto">
    <svg viewBox="0 0 {imageSize} {imageSize}" class="block mx-auto w-full">
        <!-- shells -->
        {#each shellRadius as shell, i}
            <Shell x={center.x} y={center.y} r={shell} show={electrons > electronLimits[i]} />
        {/each}
        <!-- electrons -->
        {#each shellRadius as radius, i}
            {#each getPoints(shellElectrons[i], radius, center.x, center.y) as point, idx}
                <Electron x={point.x} y={point.y} show={electrons > electronLimits[i] + idx} />
            {/each}
        {/each}
        <circle class="fill-accent" cx={center.x} cy={center.y} r={nucleusRadius} />
        <text
            x={center.x - symbolXOffset}
            y={center.y + symbolYOffset}
            class="font-mono fill-base-100 text-6xl">{symbol}</text
        >
        <text
            x={center.x - proXOffset}
            y={center.y + 20}
            class="font-mono fill-base-100/80 text-3xl tracking-tighter">P: {protons}</text
        >
        <text
            x={center.x - neuXOffset}
            y={center.y + 50}
            class="font-mono fill-base-100/80 text-3xl tracking-tighter">N: {neutrons}</text
        >
    </svg>
</div>
