<script lang="ts">
    import type { ElementInfo } from '$lib/repos/allElements'

    export let selectedElement: ElementInfo
</script>

<div
    class="border mt-8 rounded-xl mx-auto w-[200px] flex-col align-middle flex flex-shrink text-black"
    style="border-color: #{selectedElement.cpkHexColor}; background-color: #{selectedElement.cpkHexColor}"
>
    <div
        class="flex justify-between text-lg px-3 md:px-4 py-3 md:py-4 font-semibold font-mono"
    >
        <span class="block">{selectedElement.atomicNumber}</span>
        <span class="block">{selectedElement.atomicMass}</span>
    </div>
    <div class="text-7xl md:text-9xl text-center font-semibold">
        {selectedElement.symbol}
    </div>
    <div class="text-center text-lg md:text-2xl font-semibold mb-1">{selectedElement.name}</div>
    <div class="text-center text-lg md:text-2xl mb-6">{selectedElement.groupBlock}</div>
</div>
