<script lang="ts">
    import type { crossType } from 'src/types'

    export let selectedCrossType: crossType
</script>

<div class="grid grid-cols-8 mb-4 w-full">
    <div class="col-start-2 md:col-start-3 col-span-6 md:col-span-4">
        <select
            class="select select-bordered w-full border-2 rounded-full"
            bind:value={selectedCrossType}
        >
            <option value="mono" selected>monohybrid cross</option>
            <option value="di">dihybrid cross</option>
        </select>
    </div>
</div>
