<script lang="ts">
    import * as h from '$lib/helpers'
    import _ from 'lodash'

    export let parent1Alleles: string
    export let parent2Alleles: string
    export let parent1Alleles2: string
    export let parent2Alleles2: string

    export let dominantPhenotype1: string
    export let recessivePhenotype1: string
    export let dominantPhenotype2: string
    export let recessivePhenotype2: string

    $: cross = h.calculateDihybridCross(
        parent1Alleles + parent1Alleles2,
        parent2Alleles + parent2Alleles2,
    )
    $: unique = h.dihybridUniqueValues(cross)
    $: colors = h.mapUniqueToColors(unique)

    const getPhenotype = (genotype: string) =>
        h.getPhenotypeFromGenotype(
            genotype,
            dominantPhenotype1,
            recessivePhenotype1,
            dominantPhenotype2,
            recessivePhenotype2,
        )

    $: allData =
        h.checkAlleles(parent1Alleles) &&
        h.checkAlleles(parent2Alleles) &&
        h.checkAlleles(parent1Alleles2) &&
        h.checkAlleles(parent2Alleles2)

    const textColor = (item: string) => `text-${h.getGenotypeColor(item, colors)}-500`
</script>

{#if allData}
    <table class="dihybrid">
        <thead>
            <tr>
                {#each cross[0] as item}
                    <th>{item}</th>
                {/each}
            </tr>
        </thead>
        <tbody>
            {#each Array(4) as _, i}
                <tr>
                    {#each cross[i + 1] as item, idx}
                        <td class={textColor(item)} class:font-bold={idx === 0}>
                            {#if idx !== 0}
                                <div class="tooltip" data-tip={getPhenotype(item)}>
                                    {item}
                                </div>
                            {:else}
                                {item}
                            {/if}
                        </td>
                    {/each}
                </tr>
            {/each}
        </tbody>
    </table>
{:else}
    <p class="mx-auto mt-8 text-base-content/50 font-bold">Dihybrid cross will be displayed here</p>
{/if}

<style lang="postcss" global>
    table.dihybrid {
        @apply text-2xl mt-8;
    }

    .dihybrid thead,
    .dihybrid thead tr th,
    .dihybrid tbody,
    .dihybrid tbody tr,
    .dihybrid tbody tr td {
        @apply border border-base-content/30 border-collapse p-3 md:p-8 font-mono;
    }
</style>
