<script lang="ts">
    import _ from 'lodash'
    import * as h from '$lib/helpers'

    export let parent1Alleles: string
    export let parent2Alleles: string

    export let dominantPhenotype: string
    export let recessivePhenotype: string

    $: allelePairs = h.makeAllelePairs(parent1Alleles, parent2Alleles)

    $: unique = _.uniq(allelePairs)

    $: colors = h.mapUniqueToColors(unique)

    $: cross = h.calculateMonohybridCross(parent1Alleles, parent2Alleles)

    const textColor = (item: string) => `text-${h.getGenotypeColor(item, colors)}-500`
    const getPhenotype = (genotype: string) =>
        h.getPhenotypeFromGenotype(genotype, dominantPhenotype, recessivePhenotype)

    $: allData = h.checkAlleles(parent1Alleles) && h.checkAlleles(parent2Alleles)
</script>

{#if allData}
    <table class="monohybrid">
        <thead>
            <tr>
                {#each cross[0] as item}
                    <th>{item}</th>
                {/each}
            </tr>
        </thead>
        <tbody>
            {#each Array(2) as _, i}
                <tr>
                    {#each cross[i + 1] as item, idx}
                        <td class={textColor(item)} class:font-bold={idx === 0}>
                            {#if idx !== 0}
                                <div class="tooltip" data-tip={getPhenotype(item)}>
                                    {item}
                                </div>
                            {:else}
                                {item}
                            {/if}
                        </td>
                    {/each}
                </tr>
            {/each}
        </tbody>
    </table>
{:else}
    <p class="mx-auto mt-8 text-base-content/50 font-bold">
        Monohybrid cross will be displayed here
    </p>
{/if}

<style lang="postcss" global>
    table.monohybrid {
        @apply text-2xl mt-8;
    }

    .monohybrid thead,
    .monohybrid thead tr th,
    .monohybrid tbody,
    .monohybrid tbody tr,
    .monohybrid tbody tr td {
        @apply border border-base-content/30 border-collapse p-8 font-mono;
    }
</style>
