<script lang="ts">
    import type { crossType } from 'src/types'
    import { getPhenotypeFromGenotype } from '$lib/helpers'

    export let selectedCrossType: crossType
    export let cross: string[][]
    export let dominantPhenotype: string
    export let recessivePhenotype: string
    export let dominantPhenotype2: string | undefined
    export let recessivePhenotype2: string | undefined
</script>

<!-- <span
    >{getPhenotypeFromGenotype(
        'SsYy',
        dominantPhenotype,
        recessivePhenotype,
        dominantPhenotype2,
        recessivePhenotype2,
    )}</span
> -->
{#if selectedCrossType === 'mono'}
    <span>mono</span>
{:else}
    <span>di</span>
{/if}
<br />
{#each Array(5) as _, idx}
    {#if idx !== 0}
        {#each Array(5) as _, i}
            {#if i !== 0}
                {cross[idx][i]} -> {getPhenotypeFromGenotype(
                    cross[idx][i],
                    dominantPhenotype,
                    recessivePhenotype,
                    dominantPhenotype2,
                    recessivePhenotype2,
                )}<br />
            {/if}
        {/each}
    {/if}
{/each}
