<script lang="ts">
    import { fade } from 'svelte/transition'
    import { electronRadius } from '../constants'
    export let x: number
    export let y: number
    export let show: boolean
</script>

{#if show}
    <circle
        in:fade={{ duration: 200 }}
        out:fade={{ duration: 200 }}
        id="e1"
        class="fill-success"
        cx={x}
        cy={y}
        r={electronRadius}
    />
    <line
        in:fade={{ duration: 200 }}
        out:fade={{ duration: 200 }}
        x1={x - electronRadius / 2}
        y1={y}
        x2={x + electronRadius / 2}
        y2={y}
        class="stroke-red stroke-2"
        style="stroke:rgb(0,0,0);"
    />
{/if}
