<script lang="ts">
    import { fade } from 'svelte/transition'

    export let x: number
    export let y: number
    export let r: number
    export let show: boolean
</script>

{#if show}
     <circle transition:fade class="fill-info/20" cx={x} cy={y} {r} />
{/if}
