<script lang="ts">
    export let href: string
    export let alt: boolean = false
</script>

<a
    class="inline-block underline decoration-2 transition-colors font-medium font-mono"
    class:decoration-primary={!alt}
    class:hover:decoration-primary-focus={!alt}
    class:decoration-success={alt}
    class:hover:decoration-success-content={alt}
    {href}><slot /></a
>
