<script lang="ts">
    export let sequence: string[];
    export let title: string;
    export let variant: string = 'secondary';
    export let show: boolean = true;
    export let toggleable: boolean = true;
</script>

<div class="py-2">
    {#if toggleable}
        <div class="tooltip tooltip-right" data-tip="{show ? 'Hide' : 'Show'} output for {title}">
            <input type="checkbox" class="toggle toggle-sm mr-3" bind:checked={show} />
        </div>
    {/if}
    <span class="font-mono align-text-bottom">{title}</span>
    {#if show}
        {#each sequence as s}
            <div class="inline-block badge badge-{variant} font-mono mx-1 align-text-bottom mb-1">{s}</div>
        {/each}
    {/if}
</div>
